@mixin primaryBtn {
  margin: 0.5rem;
  padding: 0.5rem;
  outline: none;
  border: none;
  background: #611f69;
  color: white;
  border-radius: 5px;
  font-weight: 600;
  padding: 12px 20px;
  font-size: 15px;
  cursor: pointer;

  &:hover {
    background: #4a154b;
  }
}

@mixin secondaryBtn {
  margin: 0.5rem;
  padding: 0.5rem;
  outline: none;
  border: none;
  background: #2563eb;
  color: white;
  border-radius: 5px;
  font-weight: 600;
  padding: 12px 20px;
  font-size: 15px;
  cursor: pointer;

  &:hover {
    background: #1748af;
  }
}

@mixin tertiaryBtn {
  margin: 0.5rem;
  padding: 0.5rem;
  outline: none;
  border: none;
  background: #2563eb;
  color: white;
  border-radius: 5px;
  font-weight: 600;
  padding: 12px 20px;
  font-size: 15px;
  cursor: pointer;

  background: #4568dc; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #b06ab3,
    #4568dc
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #b06ab3,
    #4568dc
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  &:hover {
    background: #1748af;
    background: #4568dc; /* fallback for old browsers */
    background: -webkit-linear-gradient(
      to right,
      #4568dc,
      #b06ab3
    ); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(
      to right,
      #4568dc,
      #b06ab3
    ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  }
}

@mixin defaultBtn {
  margin: 0.5rem;
  padding: 0.5rem;
  outline: none;
  border: none;
  background: white;
  color: black;
  border-radius: 5px;
  font-weight: 600;
  padding: 12px 20px;
  font-size: 15px;
  cursor: pointer;

  &:hover {
    background: rgb(231, 227, 227);
  }
}

@mixin primaryDisabledBtn {
  margin: 0.5rem;
  padding: 0.5rem;
  outline: none;
  border: none;
  background: #80808078;
  color: white;
  border-radius: 5px;
  font-weight: 600;
  padding: 12px 20px;
  font-size: 15px;
  cursor: not-allowed;
  pointer-events: none;
}

@mixin secondaryDisabledBtn {
  margin: 0.5rem;
  padding: 0.5rem;
  outline: none;
  border: none;
  background: rgb(88, 87, 87);
  color: white;
  border-radius: 5px;
  font-weight: 600;
  padding: 12px 20px;
  font-size: 15px;
  cursor: not-allowed;
}
